aiosqlite==0.22.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
certifi==2026.2.25
click==8.3.1
fastapi==0.135.1
google-api-core==2.25.2
google-api-python-client==2.192.0
googleapis-common-protos==1.73.0
google-auth==2.49.1
google-auth-httplib2==0.3.0
google-genai==1.67.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
protobuf==5.29.6
proto-plus==1.27.1
pydantic==2.12.5
pydantic_core==2.41.5
starlette==0.52.1
typing_extensions==4.15.0
typing-inspection==0.4.2
uvicorn==0.41.0
